<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a [routerLink]="['/app']">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
        <h1>Gestionale</h1>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-submenu nzOpen nzTitle="Welcome" nzIcon="login">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/app']">Login</a>
          </li>
        </ul>
      </li>
      @if (isLoggedIn) {
        <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
          <ul>
            @for (route of routes; track route.path) {
              @if (
                route.path !== "**" &&
                route.path !== "" &&
                route.path !== "logout"
              ) {
                <li nz-menu-item nzMatchRouter>
                  <a [routerLink]="['/app/' + route.path]">{{ route.path }}</a>
                </li>
              }
            }
          </ul>
        </li>
      }
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <div nz-row nzJustify="space-between">
          <div nz-col nzSpan="10">
            <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <span
                class="trigger"
                nz-icon
                [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              ></span>
            </span>
          </div>
          <div nz-col nzSpan="10"></div>
          <div nz-col nzSpan="4">
            <button nz-button nzType="primary" nzShape="circle">
              <span nz-icon nzType="search"></span>
            </button>
          </div>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
